{% load siteblocks_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{% block META_description %}{{ meta.description }}{% endblock %}"/>
    <meta name="keywords" content="{% block META_keywords %}{{ meta.keywords }}{% endblock %}"/>    
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<!--[if lte IE 8]><link rel="stylesheet" type="text/css" media="screen" href="/static/css/ie.css" /><![endif]--> 
	<script type="text/javascript" src="/static/js/jquery.js"></script>	
	{% comment %}<link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox.css?v=2.0.4" type="text/css" media="screen" />
	<script type="text/javascript" src="/static/js/fancybox/jquery.fancybox.pack.js?v=2.0.4"></script>{% endcomment %}
	<script type="text/javascript" src="/static/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>

	<title>
		{% block title %}
            {% if meta.title %}
                {% ifnotequal meta.title ''  %}
                    {{ meta.title }}
                {% else %}
                	{{ site_name }}
                {% endifnotequal %}
            {% endif %}
        {% endblock %}        
    </title>
</head>

<body>
<div class="wrapper">

<!--PAGE-->
<div class="page">

    <!--MAIN-->
	<div class="main">
		<div class="main_l col">
			<div class="sidebar">
				<div id="logo_box">
					<a href="/" title="Молоко"><img id="logo" src="/static/img/logo.png" alt="Молоко" width="118" height="135" /></a>
					<div id="logo_note">город в новой упаковке</div>
				</div><!--/logo_box-->

				{% block_menu request.path %}				
				
				<div class="socials">
					<div class="socials_h"><strong>МОЛОКО </strong>в социальных сетях</div>
					<div class="socials_pl">
						<ul>
							<li><a href="http://vk.com/dailymilk"><img src="/static/img/vk.png" alt="в" /></a></li>
							<li><a href="https://twitter.com/#!/DMoloko"><img src="/static/img/t.png" alt="t" /></a></li>
							<li><a href="http://www.odnoklassniki.ru/group/52290172092536"><img src="/static/img/o.gif" alt="o" /></a></li>
						</ul>
					</div>
				</div><!--/socials-->
			</div><!--/sidebar-->
		</div><!--/left-->
			    
		<div class="main_r col">
		{% block main_r %}
			{% block sliders %}{% endblock %}			
			
			<div class="content {% block classContent %}content_brd_t{% endblock %}">
				<div class="content_l">
				{% block left_content %}{% endblock %}
				</div><!--/content_l-->

				<div class="content_r">
				{% block right_content %}{% endblock %}
				</div><!--/content_r-->
			</div><!--/content-->
			<div class="cl"></div>			
		{% endblock %}
		</div><!--/right-->		
	
	</div>
    <!--/MAIN-->	
	
    <!--FOOTER-->
    <div class="footer">
		<div id="copyright">© {% years "2012" %} Молоко</div>
		
		{% block_menu_footer %}

		<a id="madein" title="Разработка сайта — студия OctoberWeb" href="http://octoberweb.ru/"><img id="octoberweb" alt="Разработка сайта — студия OctoberWeb" src="/static/img/octoberweb.png" width="32" height="32"/>разработка сайта <span>OctoberWeb</span></a>
    </div>
    <!--/FOOTER-->
    
</div>
<!--/PAGE-->

</div><!--/wrapper-->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter14561602 = new Ya.Metrika({id:14561602, enableAll: true, webvisor:true});
        } catch(e) {}
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/14561602" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>